.card {
  .title {
    max-width: 20rem;
    text-align: center;
  }

  .content {
    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 4px;
    }

    .overview {
      text-align: justify;
      max-width: 20rem;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .detail-button {
      text-align: center;
    }

    .extra-info {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .rating {
        font-size: 1rem;
        display: flex;
        gap: 0.3rem;
        align-items: center;

        .star {
          color: #e2b616;
          font-size: 1.6rem;
        }

        .average {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
          align-items: center;
        }
      }

      .release-date {
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 500;
        }
      }
    }
  }
}
