<mat-card class="card">
  <mat-card-title class="title">{{ title }}</mat-card-title>
  <mat-card-content class="content">
    <img [src]="'https://image.tmdb.org/t/p/w220_and_h330_face' + poster" />
    <p class="overview">{{ overview }}</p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <div class="rating">
      <mat-icon class="star">star</mat-icon>
      <div class="average">
        <span>
          <b>{{ rating }}</b
          >/10</span
        >
        <span>{{ count_rating }}</span>
      </div>
    </div>
    <button mat-raised-button color="accent" (click)="onDetailClicked()">
      View details
    </button>
    <span class="release-date">{{ date | date: "dd/MM/yyyy" }}</span>
  </mat-card-actions>
</mat-card>
