.list-wrapper {
  max-width: fit-content;
  width: 80%;
  margin: 2rem auto 0 auto;

  .list-mode {
    position: relative;
    text-align: right;
  }

  .list {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;

    .element {
      width: 20rem;
      height: 40rem;
      transition: transform 100ms;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
