.list-wrapper {
  max-width: fit-content;
  width: 80%;
  margin: 2rem auto 0 auto;

  .list-mode {
    position: relative;
    left: 100%;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 3rem;

    .element {
      transition: transform 100ms;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
